<%- include('./layouts/header.ejs')%>
  <div class="login">
    <form class="login-wrap">
      <img class="avatar" src="../assets/img/default.png">
      <!-- 有错误信息时展示 -->
      <div class="alert alert-danger content-hide">
        <strong>错误！</strong> 用户名或密码错误！
      </div>
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" class="form-control" placeholder="邮箱" name='email' value="admin@baixiu.com" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" class="form-control" placeholder="密码" name="password" value="123456">
      </div>
     <input type="button" value="登录" class="btn btn-primary btn-block">
    </form>
  </div>
  <script>NProgress.done()</script>
</body>

</html>

<script src="../assets/vendors/jquery/jquery.js"></script>
<script>
  $('.btn-block').on('click', function () {
    $.ajax({
      type: 'post',
      url: '/comeIndex',
      data: $('.login-wrap').serialize(),
      dataType: 'json',
      beforeSend:function(){
         if(!$.trim($('#email').val())){
          $('.alert').addClass('content-show').html('<strong>错误！</strong> 用户名不能为空！')
          return false
         } 
         if(!$.trim($('#password').val())){
          $('.alert').addClass('content-show').html('<strong>错误！</strong> 密码不能为空！')
          return false
         } 
      },
      success:function(res){
       if(res.code==0){
         location.href = '/'
         $('.alert').removeClass('content-show')
       }else{
         $('.alert').addClass('content-show').html('<strong>错误！</strong> 用户名或密码错误！')
       }
     }
    })
  })
</script>