<%- include('./layouts/header.ejs')%>

<div class="main">
  <nav class="navbar">
    <button class="btn btn-default navbar-btn fa fa-bars"></button>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile"><i class="fa fa-user"></i>个人中心</a></li>
      <li><a href="/loginOut"><i class="fa fa-sign-out"></i>退出</a></li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="page-title">
      <h1>修改密码</h1>
    </div>
    <!-- 有错误信息时展示 -->
    <div class="alert alert-danger content-hide">
      <strong>错误！</strong>发生XXX错误
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="old" class="col-sm-3 control-label">旧密码</label>
        <div class="col-sm-7">
          <input id="old" class="form-control" type="password" placeholder="旧密码" name="passwordold">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">新密码</label>
        <div class="col-sm-7">
          <input id="password" class="form-control" type="password" placeholder="新密码" name="passwordreset">
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
        <div class="col-sm-7">
          <input id="confirm" class="form-control" type="password" placeholder="确认新密码" name="passwordconfirm">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button type="submit" class="btn btn-primary">修改密码</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include('./layouts/aside.ejs')%>
<%- include('./layouts/footer.ejs')%>

<script>
  //修改密码
  $('.form-horizontal').on('submit', function (e) {
    e.preventDefault()
    console.log(11);
    $.ajax({
      type: 'post',
      url: '/passwordReset',
      data: $('.form-horizontal').serialize(),
      dataType: 'json',
      beforeSend: function () {
        if (!$.trim($('#old').val())) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>旧密码不能为空')
          return false
        } else if (!$.trim($('#password').val())) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>新密码不能为空')
          return false
        } else if (!$.trim($('#confirm').val())) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>重置密码不能为空')
          return false
        } else if (!$.trim($('#confirm').val()) == $.trim($('#password').val())) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>重置密码不一致')
          return false
        } else {
          $('.alert').removeClass('content-show')
        }
      },
      success: function (res) {
        if (res.code == 2) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>密码输入错误')
        } else if (res.code == 1) {
          $('.alert').addClass('content-show').html('<strong>错误！</strong>重置密码失败')
        } else if (res.code == 0) {
          location.href = '/profile'
          $('.alert').removeClass('content-show')
        }
      }
    })
  })

  
</script>